.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding-bottom: 60px;
  font-family: var(--font-geist-sans);
  background-color: #fff;
  color: #1b1b1f;
  --titles: #213547;
  --text: rgba(60, 60, 60, 0.7);
  --code: #292d3edb;
  --code-text: #a6accd;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
  box-sizing: border-box;
}

.floating-ball1 {
  display: none;
  width: 20vw;
  z-index: 0;
  height: 20vw;
  background-color: #86b9d2;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 15%;
  animation: float1 5s ease-in-out infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.floating-ball2 {
  display: none;
  width: 10vw;
  z-index: 0;
  height: 20vw;
  rotate: 25deg;
  background-color: #cea0a6;
  border-radius: 20%;
  position: absolute;
  bottom: 30vh;
  left: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.floating-ball3 {
  display: none;
  width: 60vw;
  height: 70vw;
  background-color: #ffffff41;
  border-radius: 20%;
  position: fixed;
  bottom: 10%;
  left: -30%;
  animation: float3 10s ease-in-out infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@keyframes float2 {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.3;
    border-radius: 45%;
  }

  25% {
    transform: scaleX(1.15) scaleY(1.15) rotate(45deg);
    opacity: 0.2;
    border-radius: 50%;
  }

  50% {
    transform: scaleX(1) scaleY(1) rotate(45deg);
    opacity: 0.3;
    border-radius: 45%;
  }

  75% {
    transform: scaleX(1.15) scaleY(1.15) rotate(45deg);
    opacity: 0.2;
    border-radius: 50%;
  }

  100% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.3;
    border-radius: 45%;
  }
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  list-style-position: inside;
  border: 2px solid red;
  box-sizing: border-box;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid green;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  line-height: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dark-blue);
  box-sizing: border-box;
}

.me2 {
  width: fit-content;
  border-radius: 1.25rem;
  box-sizing: border-box;
}

.me {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  flex-direction: column;
  box-sizing: border-box;
}

.me_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 30vw;
  width: 30vw;
  box-sizing: border-box;
}

.me_right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 2;
  border-radius: 1.25rem;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  text-align: center;
}

.me_left_container {
  position: relative;
  box-sizing: border-box;
}

.me_right_container {
  margin-left: 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.me_left_background {
  background-image: linear-gradient(-45deg, #def6ed 50%, #e7e3f7 50%);
  filter: blur(2.5rem);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: border-box;
}

.me_right_background {
  background-image: linear-gradient(-45deg, #def6ed 50%, #e7e3f7 50%);
  filter: blur(2.5rem);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: border-box;
}

.description {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: var(--font-text);
  color: var(--text);
  box-sizing: border-box;
}

.profile {
  width: 100%;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.profile_picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-sizing: border-box;
}

.profile_picture.fade-in {
  opacity: 1;
}

.cadre {
  border: 2px solid var(--title);
  z-index: 1;
  width: 100%;
  position: absolute;
  border-radius: 1.25rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2);
  animation: turnright 1s forwards;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

@keyframes turnright {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.name {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--font-title);
  font-weight: 800;
  font-style: normal;
  color: var(--title);
  line-height: 0.8;
  margin: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.airbus {
  color: var(--yellow);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
}

.but {
  color: var(--yellow);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
}

.slash {
  font-size: 2.1875rem;
  color: var(--yellow);
  font-weight: 700;
  font-family: "Lato";
  box-sizing: border-box;
}

.borders {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .me {
    flex-direction: column;
    align-items: center;
  }

  .me_left {
    height: 45vw;
    width: 45vw;
  }

  .me_left_container {
    margin-bottom: 1.25rem;
  }

  .me_right_container {
    margin-left: 0;
    text-align: center;
  }

  .name {
    text-align: center;
    margin-top: 0.625rem;
  }

  .description {
    margin-top: 0.625rem;
    text-align: center;
    padding: 0 !important;
  }

  .profile {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .profile_picture {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    object-fit: cover;
  }

  .description {
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }

  .page {
    padding-bottom: 5rem;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.3125rem;
    gap: 0.3125rem;
  }

  .footer a {
    gap: 0.1875rem;
  }

  .me_right {
    gap: 0;
    margin-left: 0;
  }

  .me_left {
    margin: 0 !important;
  }

  .slash {
    font-size: 1.875rem;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
