.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /*display: grid;
    grid-template-rows: 20px 1fr 20px;*/

  align-items: center;
  justify-items: center;
  min-height: 100svh;

  padding-bottom: 60px;
  font-family: var(--font-geist-sans);
  background-color: #fff;
  color: #1b1b1f;
  --titles: #213547;
  --text: rgba(60, 60, 60, 0.7);
  --code: #292d3edb;
  --code-text: #a6accd;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
  /* Ensure the floating ball is positioned relative to the main container */
}

.floating-ball1 {
  display: none;
  width: 20vw;
  z-index: 0;
  height: 20vw;
  background-color: #86b9d2;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 15%;
  animation: float1 5s ease-in-out infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.floating-ball2 {
  display: none;
  width: 10vw;
  z-index: 0;
  height: 20vw;
  rotate: 25deg;
  background-color: #cea0a6;
  border-radius: 20%;
  position: absolute;
  bottom: 30vh;
  left: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.floating-ball3 {
  display: none;
  width: 60vw;
  height: 70vw;
  background-color: #ffffff41;
  border-radius: 20%;
  position: fixed;
  bottom: 10%;
  left: -30%;
  animation: float3 10s ease-in-out infinite;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@keyframes float2 {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.3;
    border-radius: 45%;
  }

  25% {
    transform: scaleX(1.15) scaleY(1.15) rotate(45deg);
    opacity: 0.2;
    border-radius: 50%;
  }

  50% {
    transform: scaleX(1) scaleY(1) rotate(45deg);
    opacity: 0.3;
    border-radius: 45%;
  }

  75% {
    transform: scaleX(1.15) scaleY(1.15) rotate(45deg);
    opacity: 0.2;
    border-radius: 50%;
  }

  100% {
    transform: scaleX(1) scaleY(1);
    opacity: 0.3;
    border-radius: 45%;
  }
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
  border: 2px solid red;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
  border: 1px solid green;
}

.title {
  font-size: 40px;
  line-height: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--dark-blue);
}

.me2 {
  width: fit-content;
  border-radius: 20px;
}

.me {
  display: flex;
  align-items: center;
  padding: 10px;
}

.me_left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 20vh;
}

.cadre {
  border: 2px solid var(--title);
  z-index: 1;
  transform: rotate(5deg);
  height: 100%;
  position: absolute;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.me_right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
  border-radius: 20px;
}

.me_left_container {
  position: relative;
}

.me_right_container {
  margin-left: 2vw;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally if needed */
}

.me_left_background {
  background-image: linear-gradient(-45deg, #def6ed 50%, #e7e3f7 50%);
  filter: blur(40px);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.me_right_background {
  background-image: linear-gradient(-45deg, #def6ed 50%, #e7e3f7 50%);
  filter: blur(40px);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.description {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--font-text);
  color: var(--text);
}

/* profile picture */
.profile {
  width: max-content;
  height: 100%;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.profile_picture {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Name next to the profile picture */
.name {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-title);
  font-weight: 800;
  font-style: normal;
  color: var(--title);
  line-height: 0.8;
  margin: 0;
  margin-bottom: 1rem;
}

.airbus {
  /*color: rgb(7, 26, 61);*/
  color: var(--yellow);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
}

.but {
  color: var(--yellow);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 600;
}

.slash {
  font-size: 3.5rem;
  color: var(--yellow);
  font-weight: 700;
  font-family: "Lato";
}

.borders {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.625rem;
  margin: 1rem;
  /* align content to the center */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .profile {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .name {
    text-align: center;
    align-self: center;
  }

  .description {
    font-size: 15px;
    line-height: 15px;
  }

  .page {
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
  }

  .footer a {
    gap: 3px;
  }

  .me_right {
    gap: 0;
    margin-left: 0;
  }

  .me_left {
    margin: 0 !important;
  }

  .slash {
    font-size: 30px;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
