.Welcome {
    width: 100%;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 4rem;
}

.portfolio-title {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: var(--font-title);
    font-weight: 800;
    font-style: normal;
    color: var(--important);
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 600px) {


    .Welcome {
        padding: 1.5rem;
    }
}