.Welcome {
    width: 100%;
    text-align: center;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.hello {
    font-size: 1.875rem;
}

.portfolio-title {
    font-size: 3rem;
}

@media only screen and (max-width: 600px) {


    .Welcome {
        height: fit-content;
        padding: 1.5rem;
    }
}