.header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 20px;
    border-bottom: 2px solid var(--gray-alpha-200);
    height: var(--header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #0c46516b;
}

.header .nav-a {
    color: var(--text);
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 400;
    padding-right: 20px;
    font-size: 1.2rem;
}

.header .nav-a-active {
    color: var(--yellow) !important;
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 400;
    padding-right: 20px;
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header .nav-a-active:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--yellow);
}

.header .nav-a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--yellow);
}

.header .nav-a:visited {
    color: var(--text);
}


.headerTitle {
    display: flex;
    align-items: center;
    color: var(--text);
    font-family: var(--font-text);
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
}

.headerTitle:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--yellow);
}

.headerTitle-active {
    display: flex;
    align-items: center;
    color: var(--yellow);
    font-family: var(--font-text);
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--text);
    text-decoration: none;
    font-family: var(--font-text);
    font-weight: 400;
    margin-left: 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.burger-menu.open .burger-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open .burger-bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .burger-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.burger-bar {
    width: 100%;
    height: 3px;
    background-color: var(--yellow);
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-footer {
    display: none;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        background-color: #0c46516b;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        position: absolute;
        top: var(--header-padding);
        right: 0;
        height: calc(100vh - var(--header-padding));
        width: auto;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top: 2px solid var(--yellow);
        border-bottom: 2px solid var(--yellow);
        border-left: 2px solid var(--yellow);
    }

    .nav.open {
        display: flex;
        background-color: #0c46516b;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        height: calc(100vh - var(--header-padding));
        width: auto;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .nav-link {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .burger-menu {
        display: flex;
    }

    .nav-a {
        padding: 10px;
    }

    .nav-a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .nav-footer {
        bottom: 0;
        gap: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        position: absolute;
    }

    .nav-footer a {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--text);
    }

    .nav-footer a:visited {
        color: var(--text);
    }

    .nav-footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}