.contacts-title {
  font-size: 40px;
  font-family: var(--font-text);
  text-align: center;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.625rem;
  margin: 1rem;
  border-radius: 20px;
  margin-top: 0;
  padding-top: 0;
}

.contacts-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.625rem;
  margin: 1rem;
  border-radius: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.link {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  flex: 1 1 auto; /* Allow the item to grow and shrink */
  min-width: 25%; /* Minimum width of 25% of the screen */
  max-width: calc(33% - 1rem); /* Maximum width to fit within the layout */
  background-color: #242424;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link:last-child {
  flex: 0 0 auto; /* Prevent the last item from growing */
  /* width should be the size of the content */
  width: fit-content;
}

.mailDropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.625rem;
  margin: 1rem;
  margin-top: 0;
  padding-top: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #242424;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  transition: all 0.3s;
}

.mailDropdown .dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mailDropdown.active .dropdown-content {
  max-height: 200px;
}

.subject {
  font-size: 15px;
  line-height: 15px;
  font-family: var(--font-text);
  color: var(--text);
  background-color: #242424;
  border: 1px solid var(--yellow);
  margin: 0.2rem;
  line-height: 1.5;
  border-radius: 8px;
  padding: 0.5rem;
}

.body {
  resize: none;
  font-size: 15px;
  line-height: 15px;
  font-family: var(--font-text);
  color: var(--text);
  background-color: #242424;
  border: 1px solid var(--yellow);
  margin: 0.2rem;
  border-radius: 8px;
  padding: 0.5rem;
  height: 100px;
}

.sendButton {
  background-color: var(--yellow);
  color: white;
  font-size: 15px;
  line-height: 15px;
  font-family: var(--font-text);
  border: none;
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.link p {
  font-size: 15px;
  line-height: 15px;
  font-family: var(--font-text);
  color: var(--text);
  margin: 6px 6px;
  word-wrap: break-word;
}

.arrow {
  border: solid var(--yellow);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* responsive design */
@media screen and (max-width: 768px) {
  .link {
    max-width: min-content;
  }
}
