.styled-list {
    list-style-type: none;
    padding: 0;
}

.styled-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.scolarite-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.scolarite-container h1 {
    text-align: center;
    color: #333;
}

.scolarite-container h2 {
    color: #444;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

h2 {
    margin-top: 20px;
    color: #2c3e50;
}

h1 {
    font-size: 2.5em;
}

.date {
    font-size: 0.9em;
    color: #666;
    white-space: nowrap;
    margin-left: 10px;
}

.formation-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.formation-etablissement {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 0;
}

.etablissement {
    font-style: italic;
    color: #555;
}

.formation {
    font-weight: bold;
    color: #333;
    word-break: break-word;
    overflow-wrap: break-word;
}

.specialite {
    font-style: italic;
    color: #777;
}

.formation-title-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.formation-title-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: var(--title);
    border-radius: 5px;
}


.formation-title {
    font-weight: bold;
    color: #333;
    word-break: break-word;
    overflow-wrap: break-word;
    flex: 1;
    min-width: 0;
}