.star_of_life {
    position: absolute;
    transform: translate(-51%, -50%);
    height: 10vh;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .star_of_life {
        height: 10vh;
    }
}