.title {
    font-size: 3rem;
    font-weight: 700;
    font-family: Lato, sans-serif;
    color: var(--text);
    padding: 1rem;
    margin: 0;
}

.title-first-letter {
    color: var(--yellow);
    font-family: Turret Road;
    font-weight: 800;
}

.description {
    font-weight: 400;
    font-family: Lato, sans-serif;
    color: var(--text);
}

.description p {
    line-height: 1.3rem;
    margin: 1rem 0;

    text-align: justify;
    text-justify: inter-word;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 0.1rem;
    color: var(--text);
    cursor: pointer;
}

.competences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.competence {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem;
    border: 2px solid gray;
    background-color: #07313982;
    width: 30%;
    min-width: 200px;
    transition: all 0.3s;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.competence p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
    margin: 1rem 0;
    font-family: var(--font-text);
    align-self: start;
}

.competence h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text);
    margin: 1rem 0;
    font-family: var(--font-text);
    align-self: start;
    border-bottom: 2px solid var(--yellow);
}

.competence:hover {
    border-color: var(--yellow);
    background-color: #07313954;
    border-radius: 20px;
    scale: 1.15;
    z-index: 1;
}

.competence:hover p {
    color: var(--yellow);
}

.level {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .competence:hover {
        scale: 1;
        border-radius: 10px;
    }
    .competence {
        width: 45%;
        max-width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .competence {
        width: 100%;
        max-width: 100%;
    }
}