.footer {
    bottom: 0;
    width: 100%;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 16px 32px;
    background-color: #0c46516b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--code-text);
    height: var(--header-padding);
}

.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text);
}

.footer img {
    flex-shrink: 0;
}

.footer a:visited {
    color: var(--text);
}

@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        text-underline-offset: 4px;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .footer {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 10px;
        gap: 16px;
        height: var(--header-padding);
    }

    .footer a {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 8px;
    }

    .footer a p {
        display: none;
    }

    .footer img {
        width: 30px;
    }
}